*{
    margin: 0px;
    padding: 0px;
}

.bg-custom{
    background-image: url(./Image/img2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-theme, .btn-theme{
background-color: #002446;
}

.text-theme{
    color: #002446;
}

@media screen and (max-width: 480 px){
    img.profile{
        max-width: 50px;

    }
}